<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora, velit. Ex adipisci delectus quidem
            temporibus officiis sequi porro deserunt illo aut, eum consequatur saepe doloribus veritatis molestiae
            possimus maiores cum eius tenetur corporis libero laborum fugiat doloremque iste. Natus, vitae?</p>
    </div>
</div>