<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodesjs And Mongodv</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum commodi voluptatum blanditiis culpa
        repellat molestiae facere corrupti quam a, quisquam, omnis facilis quidem sint, sed cumque in.
        Consectetur, neque delectus.</p>
    <a href="https://github.com/cesarperozo" class="btn btn-success btn-lg">CesarPerozo</a>
</div>