<div class="row">
    <div class="card-md-4 mx-auto" class="text-white">
        <div class="card mt-4 text-center">
            <div class="card-header ">
                <h1>Account Login</h1>
            </div>
            <img src="/img/logo.png" class="rounded-circle mx-auto d-block m-4 logo" alt="Logo">
            <div class="card-body">
                <form action="/users/signin" method="POST">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">
                            SigIn
                        </button>
                    </div>
            </div>
            </form>
        </div>
    </div>
</div>